* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  min-height: 90vh;
  width: 100vw;
  border: 2px solid red;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#main-h1 {
  font-family: sans-serif;
  font-size: 70px;
}

.bigFont {
  font-size: 30px;
}
.options {
  background-color: black;
  height: 500px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: white;
  font-size: 30px;
  font-family: sans-serif;
}

.bigBtn {
  height: 65px;
  width: 100%;
  font-size: 20px;
}
.bigBtn-n {
  height: 40px;
  width: 100px;
  font-size: 20px;
}
